* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: linear-gradient(0.25turn, #245953, #408E91);

}

::-webkit-scrollbar-thumb {
    background: #245953;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background: linear-gradient(0.25turn, #245953, #408E91);
    font-family: 'Poppins', sans-serif;
}

.help_desk {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    width: 98%;
    margin-top: 40%;
    font-size: 80px;
}

.help_desk i {
    color: #245953;
    background-color: #FAEBD7;
    border-radius: 80px;
    padding: 10px;
}

.help_desk i:hover {
    transform: scale(1.10);
    transition: .4s ease-in-out;
    opacity: 50%;
}

.header {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    background: #245953;
    opacity: 90%;
    height: 120px;
}

.logo-project-home {
    width: 90px;
    position: relative;
    left: 4.5%;
    margin-bottom: 15px;
}

.name-health {
    font-size: 50px;
    font-weight: 900;
    padding: 5px;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0.4));
    font-style: italic;
    position: relative;
    left: 7.5%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.name-fish {
    font-size: 50px;
    font-weight: 900;
    padding: 5px;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0.4));
    position: relative;
    left: 3%;
    font-style: italic;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.name-dashboard {
    font-size: 30px;
    font-weight: 900;
    padding-right: 10px;
    margin-top: 10px;
    font-style: italic;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}



.nome-projeto {
    font-size: 40px;
    font-weight: 500;
    margin-left: 20%;
    margin-top: 20px;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0.4));
    font-style: italic;
    padding: 0px 15px 0px 15px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.button_icon_header {
    flex-direction: row;
    margin-right: 54%;
    margin-top: -15px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.button_icon_header:hover {
    background-color: #408E91;
    transition: .4s ease;
    -webkit-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);

}

.button_icon_header_x {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: 85%;
}

.button_icon_header_x:hover {
    color: #408E91;
    transition: 0.3s ease;
    transform: scale(1.20);

}


/* Aside Menu */
.navigation_header {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #245953;
    border-radius: 40px;
    width: 30vw;
    top: 0;
    margin-left: -120vw;
    z-index: 2;
    -webkit-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    animation-duration: 2s;
}

.navigation_header:hover {
    transition: 3s ease;
    backdrop-filter: blur(100px);
}


.navigation_header a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 900;
    color: white;

}

.download{
    position: relative;
    left: 26%;
    font-size: 30px;
}

.navigation_header a:hover {
    border: 2px solid;
    border-radius: 10px;
    color: #408E91;
    transition: .3s ease;
    padding: 5px 30px 5px 30px;
}

.logo-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-navigation hr {
    width: 99%;
}

.link-navigation {
    height: 177vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_status_temperatura {
    width: 760px;
    height: 240px;
    margin-top: 90px;
    border-radius: 50px;
    background: #FAEBD7;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.div_status_temperatura:hover {
    transition: 0.5s ease-in-out;
    opacity: 90%;
    -webkit-box-shadow: 13px 10px 5px 0px #408E91;
    -moz-box-shadow: 13px 10px 5px 0px #408E91;
    box-shadow: 13px 10px 5px 0px #408E91;
}

.div_status_temperatura h1 {
    color: #245953;
    font-size: 35px;
    margin-top: 10px;
    margin-left: 25px;
}

.mensagem_temperatura {
    color: #245953;
    font-size: 35px;
    font-weight: bold;
    margin-left: 500px;
    margin-top: -150px;
}

.hora_temp {
    display: flex;
    border-radius: 50px;
    background: #245953;
    width: 420px;
    height: 140px;
    margin-top: 20px;
    margin-left: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.hora_temp p {
    color: #fff;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}

.hora_temp span {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-right: -25px;
}

.temperatura {
    width: 71px;
    height: 80px;
}

.section_alertas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alertas_container {
    width: 50%;
    height: 318px;
    margin-top: 27px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(250, 235, 215);
    -webkit-box-shadow: 15px 10px 25px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 10px 25px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 10px 25px 5px rgba(0, 0, 0, 0.4);
}

.alertas_container:hover {
    transition: .2s ease-in-out;
    opacity: 90%;
    -webkit-box-shadow: 13px 10px 5px 0px #408E91;
    -moz-box-shadow: 13px 10px 5px 0px #408E91;
    box-shadow: 13px 10px 5px 0px #408E91;
}

.alertas_container h1 {
    font-size: 35px;
    font-weight: bold;
    color: #245953;
}

.possiveis_alertas {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.alerta {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 210px;
    width: 22%;
    border: 3px solid #2323;
}

.alerta_ideal {
    background-color: #245953;
}

.alerta_incorreta {
    background-color: #F0CC18;
}

.alerta_preocupante {
    background-color: #F3950C;
}

.alerta_critica {
    background-color: #F03C31;
}

.alerta_titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}

.alerta_texto {
    color: #fff;
    font-size: 1.1rem;
}


.link_beneficios {
    margin-left: 79px;
}

.link_simulador {
    margin-left: 90px;
    width: 194px;
}

.active {
    background-color: #408E91;
    padding: 5px 35px 5px 35px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    transition: .1s ease;
    margin-top: 6%;
    margin-left: 30%;
    -webkit-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 9px 0px rgba(0, 0, 0, 0.75);
}

.active button {
    background-color: #408E91;
    color: #fff;
    padding: 15px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}

.active:hover {
    transform: scale(1.20);
    transition: 0.3s ease;
    color: #fff;
    padding: 10px 30px 10px 30px;

}

@keyframes showSideBar {
    from {
        margin-left: -100vw;
    }

    top {
        margin-left: -10vw;
    }

}


.kpi_economia {
    background-color: antiquewhite;
    width: 45%;
    height: 506px;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.titulo_economia {
    font-size: 25px;
    font-weight: 500;
    background-color: #245953;
    margin-left: 13%;
    font-style: italic;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.dashboards {
    background-color: #245953;
    height: 1300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 50px;
}

.titulo-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 500;
    font-style: italic;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.grafico_bateria{
    background-color: rgb(223, 223, 213);
    top: 40px;
    border-radius: 25px;
    padding: 15px;
  }

  #chartBatery{
    top:40px;


  }
  #check-green{
    width: 20px;
    height: 20px;
    border-color: black;
    border-radius: 6px;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }
  #check-yellow{
    width: 20px;
    height: 20px;
    border: black;
    border-radius: 6px;
    background-color:yellow;
  }
  #check-orange{
    width: 20px;
    height: 20px;
    border: black;
    border-radius: 6px;
    background-color:orange;
  }
  #check-red{
    width: 20px;
    height: 20px;
    border: black;
    border-radius: 6px;
    background-color: red;
  }
  #text1,#text2,#text3,#text4{
    margin-left: 10px;
 
  }
  .legend{
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  .legenda{
    display: flex;
    align-items: center;

  }

.selects {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -3%;
}

.select_sensores {
    color: white;
    width: 10%;
    height: 50px;
    font-size: 27px;
    border: 4px solid antiquewhite;
    border-radius: 20px;
    padding: 5px;
    background: transparent;
    background-color: #245953;
    overflow: hidden;
    position: absolute;
    left: 3.3%;
    margin-top: -15px;
    transition: 0.4s;
}

.select_caminhoes {
    color: white;
    width: 10%;
    height: 50px;
    font-size: 27px;
    border: 4px solid antiquewhite;
    border-radius: 20px;
    padding: 5px;
    background: transparent;
    background-color: #245953;
    overflow: hidden;
    position: absolute;
    left: 15%;
    margin-top: -15px;
    transition: 0.4s;
}

.select_sensores select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}


.dashboard_linha {
    background-color: antiquewhite;
    width: 45%;
    height: 506px;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.kpi_dashboard_linha {
    background-color: #faebd7;
    width: 45%;
    height: 506px;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    flex-direction: column;
}


#kpi_linha {
    height: 400px !important;
    z-index: 5;
}

.titulo_linha {
    display: flex;
    justify-content: center;
    background-color: #245953;
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.titulo_kpi_linha {
    font-size: 38px;
    font-weight: 500;
    background-color: #245953;
    margin-left: 5%;
    font-style: italic;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.container {
    background-color: #245953;
    border-radius: 50px;
    opacity: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    margin-top: 40px;
    height: 400px;
}


.vertical-break {
    border-left: 3px solid #245953;
    height: 400px;
    margin-top: 20px;
    margin-right: 39%;
}

.dashboard-primarios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -3%;
}

.graficos-secundarios {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -3%;
}


.kpi_bateria{
    background-color: antiquewhite;
    width: 45%;
    height: 506px;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.div_graficos{
    background-color: antiquewhite;
    width: 45%;
    height: 506px;
    -webkit-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
