* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: linear-gradient(0.25turn, #245953, #408E91);
}

::-webkit-scrollbar-thumb {
    background: #245953;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background: linear-gradient(0.25turn, #245953, #408E91);
    font-family: 'Poppins', sans-serif;
}

.help_desk {
    display: flex;
    position: fixed;
    padding-top: 720px;
    font-size:80px;
    right: 25px;
    bottom: 20px;
}

.help_desk i {
    color: #245953;
    background-color: #FAEBD7;
border-radius: 80px;
padding: 10px;
}

.help_desk i:hover{
    transform: scale(1.10);
    transition: .4s ease-in-out;
    opacity: 50%;
}


.navbar-container {
    display: flex;
    width: 100%;
    z-index: 2;
    padding: 15px 0px 15px 0px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: #245953;

    backdrop-filter: blur(100px);
    position: fixed;
}


.navbar-logo-name a {
    text-decoration: none;
    text-align: center;
}

.logo-navbar {
    width: 60%;
    height: 60%;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.navbar-links-container {
    width: 50%;
}

.navbar-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.navbar-links a:hover {
    color: #FAEBD7;
}

.bar {
    width: 0;
    height: 2px;
    transition: .4s ease;
    background-color: #FAEBD7;
}

.navbar-links li a:hover .bar {
    width: 60%;
}

.active {
    background-color: #FAEBD7;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: 0;
    transition: 0.5s ease;
    cursor: pointer;
    color: #245953;
    font-weight: bold;
    font-size: 1.1rem;
}

.active:hover {
    transform: scale(1.15);
    color: #245953;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding-top: 125px;
}

.header-beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAEBD7;
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
}

.logo-project-home {
    width: 175px;
    margin-left: -58px;
    margin-right: -12px;
}

.name-style {
    font-size: 7rem;
    font-weight: 1000;
    background-image: linear-gradient(to bottom, #FAEBD7, #FAEBD7, rgba(255, 255, 255, 0.4));
    font-style: italic;
    padding: 0px 15px 0px 15px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.name-beneficios{
    font-size: 5rem;
    font-weight: 500;
    background-color:#245953;
    font-style: italic;
    padding: 0px 15px 0px 15px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text-missao {
 width: 50%;
color: #FAEBD7;
font-size: 2rem;
font-weight: 900;
align-self: flex-start;
margin-left: 125px;
letter-spacing: 7px;
}

.beneficios {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
letter-spacing: 7px;
font-weight: 900;

}

.header-beneficios span {
    font-size: 2.8rem;
}

.beneficios-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1900px;
}

.beneficio01,
.beneficio02,
.beneficio03,
.beneficio04 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 95%;
    height: 225px;
    margin-top: 60px;
}

.beneficio01{
    display: flex;
    justify-content: space-between;
}
.beneficio01 .left-content-beneficio{
    margin-left: 7%;
}

.beneficio02 {
    margin-top: 240px;
}

.beneficio03 {
    margin-top: 150px;
}


.beneficio04 .left-content-beneficio{
    margin-right: -400px;
}


.beneficio04 {
    margin-top: 350px;
}

.right-content-beneficio-03 {
    margin-top: 60px;
}

.left-content-beneficio {
    border: 11px solid #FAEBD7;
    border-radius: 45px;
    width: 40%;
    height: 310px;
    padding: 5px;
}

.beneficio-num-logo-container {
    display: flex;
    justify-content: space-around;
    margin-top: -25px;
}

.beneficio-numero {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 10px;
}

.beneficio-text {
    padding-top: 30px;
    font-size: 1.6rem!important;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#p1{
    display: flex;
    margin-top: 50px;
}

.right-content-beneficio {
    display: flex;

}

.img-beneficio-01,
.img-beneficio-02 {
    width: 450px;
    height: 325px;
    margin-top: -80px;
}

.img-beneficio-01{
    position: absolute;
    justify-content: space-between;
    right: 14%;
    margin-top: 10px;
}

.img-beneficio-03 {
    width: 450px;
    height: 325px;
    margin-right: 50px;
}

.img-beneficio-04 {
    width: 500px;
    height: 350px;
    position: absolute;
    left: 7%;
}

.background-square,
.background-square-03, 
.background-square-04 {
    position: absolute;
    z-index: -1;
    right: 155px;
    margin-top: 50px;
    width: 400px;
    height: 320px;
    border-radius: 30px;
    background-color: #245953;
    opacity: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background-square-03 {
    margin-top: -280px;
}

.beneficio-logo-01 {
    width: 200px;
    height: 150px;
    margin-left: 20px;
}

.beneficio-logo-02{
    width: 200px;
    height: 150px;
}
.background-square-04 {
    position: absolute;
    left: 75px;
    margin-top: 75px;
    width: 455px;
    height: 325px;
    border-radius: 30px;    
}

.beneficio-logo-02 {
    margin-left: -100px;
    margin-right: 50px;
}

.beneficio-num-logo-container-04 {
    margin-top: 100px;
}

.right-content-beneficio-04 {
    margin-top: -130px;
}

.simulador-financeiro {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    font-size: 2rem;
}

.simulador-financeiro hr {
    width: 70%;
}

.simulador-logo {
    color: #FAEBD7;
    width: 150px;
    height: 150px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.simulador-header {
    width: 50%;
    color: #FAEBD7;
    font-size: 2rem;
    font-weight: 1000;
    align-self: center;
    margin-left: 395px;
    letter-spacing: 7px;
}

.text-calculadora {
    color: #FAEBD7;
    width: 50%;
    text-align: center;
    font-size: 1.65rem;
    font-weight: 900;
    text-indent: 25px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.text-simulacao {
    text-indent: 0px;
}

.btn_simulador {
    background-color: #245953;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    color: #FAEBD7;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.btn_simulador:hover {
    transform: scale(1.15);
    color: #245953;
    background-color: rgba(255, 255, 255,0.85);
    border: 1px solid #245953;
}

.simulador-financeiro a{
    margin-top: 20px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

footer hr {
    width: 70%;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 30%;
}

.rede-social-icon {
    width: 40px;
    height: 40px;
    transition: 500ms;
}

.rede-social-icon:hover {
    transform: scale(1.2);
}