* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-image: linear-gradient(to bottom, #F2978B, #F05053);
}

::-webkit-scrollbar-thumb {
    background: #3DA673;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-image: linear-gradient(to bottom, #F2978B, #F05053);
    font-family: 'Poppins', sans-serif;
}

.navbar-container {
    display: flex;
    width: 100%;
    padding: 15px 0px 15px 0px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background: #25252511;
    backdrop-filter: blur(100px);
    position: fixed;
}


.navbar-logo-name a {
    text-decoration: none;
    text-align: center;
}

.logo-navbar {
    width: 60%;
    height: 60%;
}

.navbar-links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.navbar-links-container {
    width: 50%;
}

.navbar-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.navbar-links a:hover {
    color: #3DA673;
}

.bar {
    width: 0;
    height: 2px;
    transition: .4s ease;
    background-color: #3DA673;
}

.navbar-links li a:hover .bar {
    width: 60%;
}

.active {
    background-color: #3DA673;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    border: 0;
    transition: 0.5s ease;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

.active:hover {
    transform: scale(1.15);
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 400px;
    padding-top: 125px;
}

.name-project,
.header-beneficios {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3DA673;
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
}

.logo-project-home {
    width: 135px;
    margin-left: -25px;
    margin-right: 25px;
}

.name-style {
    font-size: 5rem;
    font-weight: 500;
    background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0.4));
    font-style: italic;
    padding: 0px 15px 0px 15px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.text-missao {
    width: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: 900;
    text-align: left;
    text-indent: 25px;
    align-self: flex-start;
    margin-left: 125px;
    letter-spacing: 3px;
}

.beneficios {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
}

.header-beneficios span {
    font-size: 2.8rem;
}

.beneficios-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 1900px;
}

.beneficio01,
.beneficio02,
.beneficio03,
.beneficio04 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 95%;
    height: 225px;
    margin-top: 60px;
}

.beneficio02 {
    margin-top: 240px;
}

.beneficio03 {
    margin-top: 150px;
}

.beneficio04 {
    margin-top: 350px;
}

.right-content-beneficio-03 {
    margin-top: 60px;
}

.left-content-beneficio {
    border: 6px solid #3DA673;
    border-radius: 45px;
    width: 30%;
    padding: 5px;
}

.beneficio-num-logo-container {
    display: flex;
    justify-content: space-around;
    margin-top: -25px;
}

.beneficio-numero {
    color: rgba(255, 255, 255, 0.7);
    font-size: 4.5rem;
    font-weight: 600;
    margin-top: 10px;
}

.beneficio-text {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin-top: -0px;
}

.right-content-beneficio {
    display: flex;

}

.img-beneficio-01,
.img-beneficio-03 {
    width: 450px;
    height: 325px;
}

.img-beneficio-02 {
    width: 450px;
    height: 400px;
    margin-top: -80px;
}

.img-beneficio-04 {
    width: 500px;
    height: 350px
}

.background-square,
.background-square-03 {
    position: absolute;
    z-index: -1;
    right: 155px;
    margin-top: 50px;
    width: 400px;
    height: 320px;
    border-radius: 30px;
    background-color: #3DA673;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.background-square-03 {
    margin-top: -280px;
}

.beneficio-logo-01,
.beneficio-logo-02 {
    width: 200px;
    height: 150px;
    margin-left: 20px;
}

.background-square-04 {
    position: absolute;
    z-index: -1;
    left: 75px;
    margin-top: 75px;
    width: 455px;
    height: 325px;
    border-radius: 30px;
    background-color: #3DA673;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.beneficio-logo-02 {
    margin-left: -100px;
    margin-right: 50px;
}

.beneficio-num-logo-container-04 {
    margin-top: 100px;
}

.right-content-beneficio-04 {
    margin-top: -125px;
}

.simulador-financeiro {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.simulador-financeiro hr {
    width: 70%;
}

.simulador-logo {
    width: 100px;
    height: 100px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.simulador-header {
    color: #fff;
    width: 30%;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
}

.text-calculadora {
    color: #fff;
    width: 50%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-indent: 25px;
    letter-spacing: 2px;
    margin-top: 25px;
}

.text-simulacao {
    text-indent: 0px;
}

.btn_simulador {
    background-color: #3DA673;
    padding: 10px 45px 10px 45px;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 20px;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn_simulador:hover {
    transform: scale(1.2);
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

footer hr {
    width: 70%;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 30%;
}

.rede-social-icon {
    width: 40px;
    height: 40px;
    transition: 500ms;
}

.rede-social-icon:hover {
    transform: scale(1.2);
}