@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital@1&display=swap');

:root {
    --peso: bold;
    --branco: #fff;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url('../assets2/pagina_inicial/Rectangle\ 3.png');
    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    background: #252525;
}

::-webkit-scrollbar-thumb {
    background: #40CBC3;
}

/* HEADER */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #25252511;
    backdrop-filter: blur(100px);
    height: 125px;
    z-index: 1;
}

.bar{
    width: 0;
    height: 2px;
    background: #40CBC3;
    transition: .4s ease;
}

.lista_nav a:hover .bar {
    width: 60%;
}

.logo_nav img {
    width: 400px;
}

.lista_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    width: 40%;
    }

.lista_nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
}

.lista_nav a {
    transition: .2s ease;
    cursor: pointer;
    text-decoration: none;
    color: var(--branco);
}

.lista_nav a:hover {
    color: #40CBC3;
}

.botao_navbar button {
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 0px 25px 0px 25px;
    background: #40CBC3;
    border-radius: 50px;
    color: #252525;
    font-weight: 600;
    font-size: 30px;

}

.botao_navbar button:hover {
    transform: scale(1.1);
}

.header_sobrenos:active {
    transition: 1s ease;
}

/* PRIMEIRA DIV */

.container_home {
    transform: translateY(100px);
}

.PNG_1 img {
    width: 550px;
    height: auto;
    margin-left: -300px;
}

.article_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 15px 30px 0px;

}

.Texto_h1_1 {
    z-index: 1;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--branco);
    width: 90%;
}

.Texto_h2_1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    color: var(--branco);
}

/* SEGUNDA DIV */
.PNG_2 img {
    display: flex;

}

.article_2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
}

.Texto_h1_2 {
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--branco);
    width: 50%;
    padding-left: 70px;
}

/* TERCEIRA DIV */
.article_3 {
    display: flex;
    padding-left: 250px;
}


.Texto_h1_3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--branco);
    margin-top: -650px;
    margin-bottom: 70px;
}

.PNG_3 img {
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
}

/* QUARTA DIV */

.Fundo_4 img {
    display: flex;
    width: 100%;
    height: 450px;
}

.botao_saiba {
    display: flex;
    margin-top: -10px;
    justify-content: center;
    padding: 20px;
}

.botao_saiba button {
    border: none;
    cursor: pointer;
    width: 300px;
    height: 80px;
    background: #40CBC3;
    border-radius: 50px;
    color: black;
    font-weight: 600;
    font-size: 40px;
    transition: .2s ease;
    padding: 10px;
}

.botao_saiba button:hover {
    transform: scale(1.1);
    color: var(--branco);
    background: #F2978B;
}

.article_4 {
    display: flex;
    flex-direction: row;
    margin-top: -260px;
}

.Texto_h1_4 {
    display: flex;
    color: var(--branco);
    font-weight: bold;
    font-size: 50px;
    margin-top: -150px;
    margin-left: 100px;
}

.Texto_h2_4 {
    display: flex;
    margin-left: -500px;
    margin-top: -20px;
    color: var(--branco);
    font-weight: lighter;
    font-size: 50px;
}

.icon_HF {
    display: flex;
    width: 150px;
    height: 100px;
    margin-top: -165px;
}

/* FOOTER */

.article_sobrenos {
    display: flex;
    text-align: center;
    justify-content: center;
}

.hgroup_sobrenos {
    display: flex;
    width: 65%;
    flex-direction: column;
}

.Texto_h1_sobrenos {
    color: var(--branco);
    font-size: 2.5rem;
    margin-top: 150px;
}

.Texto_h2_sobrenos {
    color: var(--branco);
    text-align: center;
    margin-top: 50px;
    font-size: 1.8rem;
    line-height: 50px;
    font-weight: lighter;
}

.article_5 {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.Texto_h1_5 {
    color: var(--branco);
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
}

.redes_icon {
    margin-top: 100px;
    height: 40px;
    text-align: center;
}

.social {
    background-color: #252525;
    border-radius: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
    width: 300px;
    height: 50px;
}

.social a{
    text-decoration: none;
    color: #f1f1f1;
}

#zap:hover {
    transition: .5s ;
    transform: scale(1.1);
    color: #bebb0e;
    cursor: pointer;
}

#insta:hover {
    transition: .5s ;
    transform: scale(1.1);
    color: #f20356;
    cursor: pointer;

}

#link:hover {
    transition: .5s ;
    transform: scale(1.1);
    color: #026fab;
    cursor: pointer;
}