@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:ital@1&display=swap');

*{
    padding: 0px;
    margin: 0px;
font-family: Poppins,sans-serif;
}
body{
    background-image: url('../assets/Rectangle\ 3.png');
    width: 100%;

}

.navbar{
    display: flex;
    
    height: 80px;


}
.logo{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 15px;

    
}


.lista{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    width: 80%;
    text-align: center;
    list-style: none;
}
.lista li{
    font-size: 25px;
    color: white;
}
.botao{
    border: none;
    border-radius: 50px;
    height: 45px;
    width: 250px;
    text-align: center;
    font-size:25px;
    background-color: #40CBC3;

}
.section1{

    
}


